.tl_listing tbody tr:nth-child(odd) td {
    background-color: #fafafc;
}

.tl_listing button.drag-handle {
    top:0;
    right:0;
    border:0;
    background:none;
    margin:0;
    padding:0;
    font-size:22px;
    line-height:9px;
    cursor:move;
    transition:all .1s linear;
}